<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Harmonica tabs</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <img id="logo_img" src="/images/harp.png" alt="logo">
        </div>
        <div class="home">
            <a th:href="@{/home}">Harmonica Tabs</a>
        </div>

        <div class="links">
            <li>
                <a th:href="@{/user/login}" sec:authorize="!isAuthenticated()">Login</a>
            </li>

            <li>
                <a th:href="@{/user/register}" sec:authorize="!isAuthenticated()">Register</a>
            </li>

            <li>
                <form th:action="@{/user/logout}" th:method="POST" sec:authorize="isAuthenticated()">
                    <input class="btn btn-link logout-btn" type="submit" value="Logout">
                </form>
            </li>
            <li>
                <a th:href="@{/user/user_panel}" sec:authorize="isAuthenticated()">User: <span sec:authentication="name"></span></a>
            </li>
        </div>
    </nav>
</header>
</body>
</html>