<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <form class="welcome login"  th:method="POST" th:action="@{/add/harmonica}" th:object="${addHarmonica}">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark" th:text="#{user.AddHarmonica}">Add Harmonica</span></h1>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <select class="browser-default custom-select" id="manufacturer" name="continent"
                            th:field="*{manufacturer}" th:errorclass="is-invalid"
                    >
                        <option value="HOHNER">Hohner</option>
                        <option value="FENDER">Fender</option>
                        <option value="SEYDEL">Seydel</option>
                        <option value="TOMBO">Tombo</option>
                        <option value="SUZUKI">Suzuki</option>
                        <option value="EAST_TOP">East top</option>
                    </select>
                    <small class="invalid-feedback danger" style="font-size: 15px" th:text="#{error.addHarp.manufacturer}"></small>

                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" id="age" name="age" placeholder="Age"
                           th:field="*{age}"/>
                </div>

            </div>

        </div>
        <div class="form-group">
            <div class="col-12">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                       th:field="*{name}" th:errorclass="is-invalid"/>
                <small class="invalid-feedback danger" style="font-size: 15px" th:text="#{error.addHarp.name}"></small>

            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <select class="browser-default custom-select" id="type" name="type"
                            th:field="*{type}" th:errorclass="is-invalid"
                    >
                        <option value="DIATONIC" th:text="#{diatonic}">Diatonic</option>
                        <option value="CHROMATIC" th:text="#{chromatic}">Chromatic</option>
                        <option value="TREMOLO" th:text="#{tremolo}">Tremolo</option>
                        <option value="OCTAVE" th:text="#{octave}">Octave</option>
                        <option value="ORCHESTRAL" th:text="#{orchestral}">Orchestral</option>
                        <option value="BASS" th:text="#{bass}">Bass</option>
                    </select>
                    <small class="invalid-feedback danger" style="font-size: 15px" th:text="#{error.addHarp.type}"></small>
                </div>
                <div class="col-md-6">
                    <select class="browser-default custom-select" id="harp_key" name="harp_key"
                            th:field="*{harp_key}" th:errorclass="is-invalid"
                    >
                        <option value="Ab">Ab</option>
                        <option value="A">A</option>
                        <option value="Bb">Bb</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="Db">Db</option>
                        <option value="D">D</option>
                        <option value="Eb">Eb</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="F#">F#</option>
                        <option value="G">G</option>
                    </select>
                    <small class="invalid-feedback danger" style="font-size: 15px" th:text="#{error.addHarp.key}"></small>
                </div>
            </div>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" value="Add Harmonica" th:text="#{user.AddHarmonica}">Add Harmonica</button>
        </div>

    </form>
</main>
</body>
</html>

</body>
</html>