<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="main-panel">
    <div class="user-details-panel item-details-panel">

        <div class="item-details">
            <p class="user-detail song-name"><span th:text="${viewHarmonica.name}"></span></p>
            <p class="user-detail"><span th:text="#{manufacturer.text}"></span> <span th:text="${viewHarmonica.manufacturer}"></span> </p>
            <p class="user-detail"><span th:text="#{type.text}"></span><span th:text="${viewHarmonica.type}"></span> </p>
            <p class="user-detail"><span th:text="#{harmonica.key.cap}"></span> <span th:text="${viewHarmonica.harp_key}"></span></p>
            <p class="user-detail"><span th:text="#{age.text}"></span><span th:text="${viewHarmonica.age}"></span> <span th:text="#{years}"></span></p>

        </div>
        <div class="harp-image-holder">
            <img class="harp-picture" src="/images/harmonica2.png">
        </div>
    </div>

</div>

</body>
</html>