<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="main-panel song-main-panel">
    <div class="user-details-panel item-details-panel">
        <div class="item-details">
            <p class="user-detail song-name"><span th:text="${viewSong.name}"></span></p>
            <p class="user-detail">by <span th:text="${viewSong.artistName}"></span> </p>
            <p class="user-detail">Genre: <span th:text="${viewSong.genre}"></span> </p>
            <p class="user-detail">Created on:  <span th:text="${viewSong.creationDate}"></span></p>

        </div>
        <div class="harp-image-holder">
            <img class="harp-picture" src="/images/harmonica2.png">
        </div>
    </div>
    <div class="user-details-panel item-details-panel tab-panel">
        <div class="item-details">
            <p class="user-detail song-name tab-text"><span id="tab" th:text="${viewSong.tab}"></span></p>
        </div>

        <div>
            <div class="harmonica-details">
                <button class="harp-detail logout-btn view-btn" onclick="playTab()">Play</button>
            </div>
        </div>
    </div>

</div>

</body>
</html>