<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="main-panel">
    <div class="user-details-panel">
        <div class="pfp-holder">
            <img class="user-picture" src="/images/user_default_picture.png">
        </div>
        <p class="user-detail"><span th:text="${viewUser.fullName}"></span></p>
        <p class="user-detail">Username: <span th:text="${viewUser.username}"></span> </p>
        <p class="user-detail">Country: <span th:text="${viewUser.country.name}"></span> </p>
        <p class="user-detail">Birthday:  <span th:text="${viewUser.birthday}"></span></p>
        <p class="user-detail">Email:  <span th:text="${viewUser.email}"></span></p>

    </div>

</div>

</body>
</html>