<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="main-panel">
    <div class="user-details-panel">
        <div class="pfp-holder">
            <img class="user-picture" src="/images/user_default_picture.png">
        </div>
        <p class="user-detail"><span th:text="${@userHelperService.getUser().getFullName()}"></span></p>
        <p class="user-detail">Username: <span th:text="${@userHelperService.getUser().getUsername()}"></span> </p>
        <p class="user-detail">Birthday: <span th:text="${@userHelperService.getUser().getBirthday()}"></span> </p>
        <p class="user-detail">Member for <span th:text="${@userHelperService.getUser().getMemberDays()}"></span> days</p>
    </div>
    <div class="user-items-panel">
        <div class="user-harmonicas-panel">
            <h3>My Harmonicas</h3>
            <div class="harmonicas-holder">
                <div class="harp-detail-and-delete" th:each="harmonica: ${@userHelperService.getUser().getHarmonicas()}">
                    <div class="harmonica-details" >
                        <p class="harp-detail"><span th:text="*{harmonica.manufacturer}"></span></p>
                        <p class="harp-detail"><span th:text="*{harmonica.name}"></span> </p>
                        <p class="harp-detail"> in the key of <span th:text="*{harmonica.harp_key}"></span> </p>
                    </div>
                    <div class="harmonica-details">
                        <a class="harp-detail logout-btn" th:href="@{/delete/harmonica/{id}(id = *{harmonica.getId()})}">Delete</a>
                    </div>
                </div>

            </div>
            <form th:method="POST" th:action="@{/add_harmonica.html}">
                <input class="btn btn-link" type="submit" value="Add Harmonica">
            </form>
        </div>
        <div class="user-harmonicas-panel">
            <h3>My Songs</h3>
            <div class="harmonicas-holder">
                <div class="harp-detail-and-delete" th:each="song: ${@userHelperService.getUser().getSongs()}">
                    <div class="harmonica-details">
                        <p class="harp-detail"><span th:text="*{song.name}"></span></p>
                        <p class="harp-detail"><span th:text="*{song.artistName}"></span> </p>
                        <p class="harp-detail">created on <span th:text="*{song.creationDate}"></span> </p>
                    </div>
                    <div class="harmonica-details">
                        <a class="harp-detail logout-btn" th:href="@{/delete/song/{id}(id = *{song.getId()})}">Delete</a>
                    </div>
                </div>
            </div>
            <form th:method="POST" th:action="@{/add_song}">
                <input class="btn btn-link" type="submit" value="Add Song">
            </form>
        </div>
    </div>

</div>

</body>
</html>