<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="main-panel">
    <div class="user-details-panel item-details-panel">
        <div class="pfp-holder">
            <img class="user-picture" src="/images/user_default_picture.png">
        </div>
        <div class="item-details">
            <p class="user-detail song-name"><span th:text="${viewUser.fullName}"></span></p>
            <p class="user-detail"><span th:text="#{username.text}"></span> <span id="username" th:text="${viewUser.username}"></span> </p>
            <p class="user-detail"><span th:text="#{country.text}"></span> <span th:text="${viewUser.country.name}"></span> </p>
            <p class="user-detail"><span th:text="#{birthday.text}"></span>  <span th:text="${viewUser.birthday}"></span></p>
            <p class="user-detail"><span th:text="#{email.text}"></span>  <span th:text="${viewUser.email}"></span></p>
            <label for="message-content">Message</label>
            <textarea id="message-content" name="tab" rows="3"> </textarea>
            <button class="btn btn-link logout-btn" onclick="messageUser()">Send</button>
        </div>

    </div>

</div>

</body>
</html>